<div [ngClass]="{ 'dark-mode': isDarkMode }">
<div class="dashboard">
    <h1 i18n class="dashboard-title">Dashboard</h1>
  
    <section class="dashboard-section">
      <h2 i18n class="section-title">Trips Statistics</h2>
      <p class="section-item"><ng-container i18n>Average trips per manager:</ng-container> {{ tripsStats.average | number : '1.2-2' }}</p>
      <p class="section-item"><ng-container i18n>Minimum trips per manager:</ng-container> {{ tripsStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Maximum trips per manager:</ng-container> {{ tripsStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Standard deviation:</ng-container> {{ tripsStats.stdDeviation | number : '1.2-2' }}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 i18n class="section-title">Applications Statistics</h2>
      <p class="section-item"><ng-container i18n>Average applications per trip:</ng-container> {{ applicationsStats.average | number : '1.2-2' }}</p>
      <p class="section-item"><ng-container i18n>Minimum applications per trip:</ng-container> {{ applicationsStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Maximum applications per trip:</ng-container> {{ applicationsStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Standard deviation:</ng-container> {{ applicationsStats.stdDeviation | number : '1.2-2'}}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 i18n class="section-title">Price Statistics</h2>
      <p class="section-item"><ng-container i18n>Average price of trips:</ng-container> {{ priceStats.average | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Minimum price of trips:</ng-container> {{ priceStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Maximum price of trips:</ng-container> {{ priceStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item"><ng-container i18n>Standard deviation:</ng-container> {{ priceStats.stdDeviation | number : '1.2-2'}}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 i18n class="section-title">Applications by Status</h2>
      <ul class="status-list">
        <li class="status-item" *ngFor="let status of applicationsByStatus | keyvalue">
          {{ status.key }}: {{ status.value }}
        </li>
      </ul>
    </section>

    <section class="dashboard-section">
      <h2 class="section-title">Explorers' Finder Price Stats</h2>
      <p class="section-item">
        Average minimum price in finders: {{ averagePriceRange.averageMin | number:'1.2-2' }}
      </p>
      <p class="section-item">
        Average maximum price in finders: {{ averagePriceRange.averageMax | number:'1.2-2' }}
      </p>
    </section>
    
    <section class="dashboard-section">
      <h2 class="section-title">Top 10 Keywords in Finders</h2>
      <ul class="status-list">
        <li class="status-item" *ngFor="let keyword of topKeywords | keyvalue">
          {{ keyword.key }}: {{ keyword.value }}
        </li>
      </ul>
    </section>
  </div>
</div>