<div [ngClass]="{ 'dark-mode': isDarkMode }">
<div class="dashboard">
    <h1 class="dashboard-title">Dashboard</h1>
  
    <section class="dashboard-section">
      <h2 class="section-title">Trips Statistics</h2>
      <p class="section-item">Average trips per manager: {{ tripsStats.average | number : '1.2-2' }}</p>
      <p class="section-item">Minimum trips per manager: {{ tripsStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item">Maximum trips per manager: {{ tripsStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item">Standard deviation: {{ tripsStats.stdDeviation | number : '1.2-2' }}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 class="section-title">Applications Statistics</h2>
      <p class="section-item">Average applications per trip: {{ applicationsStats.average | number : '1.2-2' }}</p>
      <p class="section-item">Minimum applications per trip: {{ applicationsStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item">Maximum applications per trip: {{ applicationsStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item">Standard deviation: {{ applicationsStats.stdDeviation | number : '1.2-2'}}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 class="section-title">Price Statistics</h2>
      <p class="section-item">Average price of trips: {{ priceStats.average | number : '1.2-2'}}</p>
      <p class="section-item">Minimum price of trips: {{ priceStats.minimum | number : '1.2-2'}}</p>
      <p class="section-item">Maximum price of trips: {{ priceStats.maximum | number : '1.2-2'}}</p>
      <p class="section-item">Standard deviation: {{ priceStats.stdDeviation | number : '1.2-2'}}</p>
    </section>
  
    <section class="dashboard-section">
      <h2 class="section-title">Applications by Status</h2>
      <ul class="status-list">
        <li class="status-item" *ngFor="let status of applicationsByStatus | keyvalue">
          {{ status.key }}: {{ status.value }}
        </li>
      </ul>
    </section>

    <section class="dashboard-section">
      <h2 class="section-title">Explorers' Finder Price Stats</h2>
      <p class="section-item">
        Average minimum price in finders: {{ averagePriceRange.averageMin | number:'1.2-2' }}
      </p>
      <p class="section-item">
        Average maximum price in finders: {{ averagePriceRange.averageMax | number:'1.2-2' }}
      </p>
    </section>
    
    <section class="dashboard-section">
      <h2 class="section-title">Top 10 Keywords in Finders</h2>
      <ul class="status-list">
        <li class="status-item" *ngFor="let keyword of topKeywords | keyvalue">
          {{ keyword.key }}: {{ keyword.value }}
        </li>
      </ul>
    </section>
  </div>
</div>