<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
  <div class="container-fluid">
    <!-- Logo + Nombre -->
    <a class="navbar-brand d-flex align-items-center" routerLink="/trips">
      <img src="/assets/images/logo.png" alt="Logo" width="60" height="60" class="me-2">
      Acme Explorer
    </a>
    
    <!-- Botón de colapso en dispositivos pequeños -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Menú principal -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Trips
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/trips']">List trips</a></li>
            <li><a class="dropdown-item" [routerLink]="['/trips/load']">Load trips</a></li>
            <li *ngIf="currentActor && currentActor.role === 'MANAGER'"><hr class="dropdown-divider"></li>
            <li *ngIf="currentActor && currentActor.role === 'MANAGER'"><a class="dropdown-item" [routerLink]="['/trips/create']">New trip</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="currentActor && (currentActor.role==='MANAGER' || currentActor.role === 'ADMINISTRATOR')">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ currentActor.role }}
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="currentActor.role === 'ADMINISTRATOR'"><a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a></li>
            <li *ngIf="currentActor.role === 'ADMINISTRATOR'"><a class="dropdown-item" [routerLink]="['/register']">Create New Manager</a></li>
            <li *ngIf="currentActor.role === 'MANAGER'"><a class="dropdown-item" [routerLink]="['/trips/create']">Applications</a></li>
          </ul>
        </li>
      </ul>

      <!-- Barra de búsqueda -->

      <form class="form-inline d-flex my-2 my-lg-0 me-2">
        <input class="form-control mr-2 me-1" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Botones de cambiar idioma -->
     <button class="btn btn-secondary me-2" (click)="changeLanguage('EN')">EN</button>
     <button class="btn btn-secondary me-2" (click)="changeLanguage('ES')">ES</button>
      
      <!-- Opciones de Login / Register / Logout -->

      <div *ngIf="currentActor" class = "dropdown text-end ml-5">
        <a href = "#" class = "d-block link-dark text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="false">
          <img src = "/assets/images/defaultUser.jpg" alt="mdo" width="32" height="32" class = "rounded-circle">
        </a>
        <ul class = "dropdown-menu text-small" data-popper-placement="bottom-end"
        style = "position:absolute; inset:0px 0px auto auto; margin: 0px; transform: translate3d(0.5px,34px,0px);">
          <li><a class = "dropdown-item" [routerLink]="['/profile', currentActor.id]"> Profile </a></li>
          <li><a class = "dropdown-item" (click)="logout()"> Logout </a></li>

        </ul>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!currentActor">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" *ngIf="!currentActor">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
        <li class="nav-item" *ngIf="activeRole ==='consumer'">
        <a class="nav-link active" routerLink="/applications">
          <i class="fa-solid fa-cart-shopping"></i>
          Your Applications
        </a>
      
        </li>
        
      </ul>
    </div>
  </div>
</nav>
