<div [ngClass]="{ 'dark-mode': isDarkMode }">
  <div class="list-manager">
    <div class="mb-2">
      <div class="input-group">
        <input
          maxlength="20"
          i18n-placeholder
          type="text"
          class="form-control"
          placeholder="Search saved lists..."
          [(ngModel)]="searchTerm"
        />
      </div>
    </div>

    <div class="mb-2">
      <div class="input-group">
        <input
          maxlength="20"
          i18n-placeholder
          type="text"
          class="form-control"
          placeholder="Or create a new one"
          #newListInput
          (keydown.enter)="createList(newListInput.value); newListInput.value = ''"
        />
        <button
          i18n
          class="btn btn-success"
          [disabled]="isCreating"
          (click)="createList(newListInput.value); newListInput.value = ''"
        >
          <span *ngIf="isCreating" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Create
        </button>
      </div>
    </div>

    <ul class="list-group">
      <li
        *ngFor="let list of visibleLists"
        class="list-group-item d-flex align-items-center"
      >
        <div class="d-flex flex-grow-1 align-items-center">
          <span class="badge bg-primary me-2">{{ list.tripTickers.length }}</span>
          <span
            (click)="selectList(list)"
            style="cursor: pointer; flex-grow: 1;"
          >
            {{ list.name }}
          </span>
        </div>
        <button
          i18n
          class="btn btn-danger"
          [disabled]="isDeleting"
          (click)="deleteList(list)"
        >
          <span *ngIf="isDeleting" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
          Delete
        </button>
      </li>
    </ul>

    <button
      *ngIf="lists.length > maxVisible"
      class="btn btn-link mt-2"
      (click)="toggleShowAll()"
    >
      <ng-container i18n *ngIf="showAllLists">Show Less</ng-container>
      <ng-container i18n *ngIf="!showAllLists">Show More</ng-container>
    </button>
  </div>
</div>