<button i18n class="btn btn-primary" (click)="openAddToListModal()">Add to List</button>

<div class="modal" [class.show]="isOpen" [style.display]="isOpen ? 'block' : 'none'">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <ng-container i18n>Add trip to </ng-container><a i18n href="/saved-trips" class="text-decoration-none">My Lists</a>
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        <app-list-manager
          [maxVisible]="5"
          (listSelectedEmmiter)="onListSelected($event)"
        ></app-list-manager>
      </div>
    </div>
  </div>
</div>
