<div [ngClass]="{ 'dark-mode': isDarkMode }">

<h1 i18n>Applications</h1>

<!-- Desplegable para managers -->
<ng-container *ngIf="actor.role.toLowerCase() === 'manager'">
  <div class="form-group">
    <label i18n for="tripFilter">Filter by Trip:</label>
    <select id="tripFilter" class="form-control mt-2" [(ngModel)]="selectedTripTitle" (change)="filterByTripTitle()">
      <option i18n value="all">All Trips</option>
      <option *ngFor="let title of tripTitles" [value]="title">{{ title }}</option>
    </select>
  </div>
</ng-container>

<div class="filter-buttons">
  <button i18n class="btn btn-primary" (click)="filterByStatus('all')">All</button>
  <button i18n class="btn btn-secondary" (click)="filterByStatus('pending')">Pending</button>
  <button i18n class="btn btn-warning" (click)="filterByStatus('accepted')">Accepted</button>
  <button i18n class="btn btn-success" (click)="filterByStatus('due')">Due</button>
  <button i18n class="btn btn-danger" (click)="filterByStatus('rejected')">Rejected</button>
</div>

<div class="accordion mt-4" id="applicationAccordion">
  <div *ngFor="let application of filteredApplications; let i = index" class="accordion-item">
    <h2 *ngIf="!(application.trip.deleted || application.trip.cancelledReason !== '')" class="accordion-header" [id]="'heading' + i">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
        <ng-container i18n>Explorer:</ng-container> {{ application.explorerId }} - 
        <ng-container i18n>Status:</ng-container> {{ application.status.toLowerCase() | statusTranslate }}
      </button>
    </h2>
    <div *ngIf="!(application.trip.deleted || application.trip.cancelledReason !== '')" [id]="'collapse' + i" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading' + i"
         data-bs-parent="#applicationAccordion">
      <div class="accordion-body">
        <p><ng-container i18n>Trip:</ng-container> {{ application.trip.title }}</p>
        <p><ng-container i18n>Price:</ng-container> {{ application.trip.price | currencyChange }}</p>
        <p *ngIf="application.comments"><ng-container i18n>Comments:</ng-container> {{ application.comments }}</p>
        <p *ngIf="application.rejectReason"><ng-container i18n>Reject reason:</ng-container> {{ application.rejectReason }}</p>

        <!-- Manager buttons -->
        <ng-container *ngIf="actor.role.toLowerCase() === 'manager'">
          <button i18n *ngIf="application.status?.trim().toLowerCase() === 'pending'" class="btn btn-success" (click)="acceptApplication(application.id)">Due</button>
          <div class="reject-section mt-2" *ngIf="application.status?.trim().toLowerCase() === 'pending'">
            <input maxlength="100" i18n-placeholder type="text" [(ngModel)]="rejectReason" placeholder="Enter reject reason" class="form-control mb-2" />
            <button i18n class="btn btn-danger" (click)="rejectApplication(application)">Reject</button>
          </div>
        </ng-container>

        <!-- Explorer button -->
        <ng-container *ngIf="actor.role.toLowerCase() === 'explorer'">
          <button i18n *ngIf="application.status?.trim().toLowerCase() === 'due'" class="btn btn-warning" (click)="payForApplication(application)">Pay with PayPal</button>
          <div class="reject-section mt-2" *ngIf="application.status?.trim().toLowerCase() === 'pending' || application.status?.trim().toLowerCase() === 'due'">
            <input maxlength="100" i18n-placeholder type="text" [(ngModel)]="rejectReason" placeholder="Enter reject reason" class="form-control mb-2" />
            <button i18n class="btn btn-danger" (click)="rejectApplication(application)">Reject</button>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
</div>