<div [ngClass]="{ 'dark-mode': isDarkMode }">

<h1 i18n>Applications</h1>

<!-- Desplegable para managers -->
<ng-container *ngIf="actor.role.toLowerCase() === 'manager'">
  <div class="form-group">
    <label i18n for="tripFilter">Filter by Trip:</label>
    <select id="tripFilter" class="form-control mt-2" [(ngModel)]="selectedTripTitle" (change)="filterByTripTitle()">
      <option i18n value="all">All Trips</option>
      <option *ngFor="let title of tripTitles" [value]="title">{{ title }}</option>
    </select>
  </div>
</ng-container>

<div class="filter-buttons">
  <button i18n class="btn btn-primary" (click)="filterByStatus('all')">All</button>
  <button i18n class="btn btn-secondary" (click)="filterByStatus('pending')">Pending</button>
  <button i18n class="btn btn-warning" (click)="filterByStatus('accepted')">Accepted</button>
  <button i18n class="btn btn-success" (click)="filterByStatus('due')">Due</button>
  <button i18n class="btn btn-danger" (click)="filterByStatus('rejected')">Rejected</button>
</div>

<div class="application-list">
  <div *ngFor="let application of filteredApplications" class="card">
    <div class="card-body">
      <h5 class="card-title"><ng-container i18n>Explorer:</ng-container> {{ application.explorerId }}</h5>
      <p class="card-text"><ng-container i18n>Status:</ng-container> {{ application.status.toLowerCase() | statusTranslate }}</p>
      <p class="card-text"><ng-container i18n>Trip:</ng-container> {{ application.trip.title }}</p>
      <p  class="card-text"><ng-container i18n>Price:</ng-container> {{ application.trip.price |currencyChange }}</p>
      <p *ngIf="application.comments" class="card-text"><ng-container i18n>Comments:</ng-container> {{ application.comments }}</p>
      <p *ngIf="application.rejectReason" class="card-text"><ng-container i18n>Reject reason:</ng-container> {{ application.rejectReason }}</p>

      <!-- Botones para el rol manager -->
      <ng-container *ngIf="actor.role.toLowerCase() === 'manager'">
        <button i18n *ngIf="application.status?.trim().toLowerCase() === 'pending'" class="btn btn-success" (click)="acceptApplication(application.id)">Due</button>
        <div class="reject-section" *ngIf="application.status?.trim().toLowerCase() === 'pending'">
          <input i18n-placeholder type="text" [(ngModel)]="rejectReason" placeholder="Enter reject reason" class="form-control mb-2" />
          <button i18n class="btn btn-danger" (click)="rejectApplication(application)">Reject</button>
        </div>
      </ng-container>

      <!-- Botón para el rol explorer -->
      <ng-container *ngIf="actor.role.toLowerCase() === 'explorer'">
        <button i18n *ngIf="application.status?.trim().toLowerCase() === 'due'" class="btn btn-warning" (click)="payForApplication(application)">Pay with PayPal</button>
      </ng-container>
    </div>
  </div>
</div>
</div>