<div class="container mt-4">
    <div class="row">
        <ng-container *ngFor="let trip of trips; let i = index">
            <div class="col-md-4 mb-4" *ngIf="!isCancelled(trip) && trip.deleted === false">
                <div class="card h-100" (click)="goToTrip(trip.id)" style="cursor: pointer;">
                    <div class="card-header">
                        <ngb-carousel *ngIf="trip.pictures?.length">
                            <ng-template ngbSlide *ngFor="let picture of trip.pictures; let j = index">
                                <img class="d-block w-100" [src]="picture" alt="Slide {{ j + 1 }}">
                            </ng-template>
                        </ngb-carousel>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ trip.title }}</h5>
                        <p class="card-text">{{ trip.description }}</p>
                        <p><strong>Price:</strong> {{ trip.price }} EUR</p>
                        <p><strong>Date:</strong> {{ trip.startDate | date:'d MMMM yyyy'}} - {{ trip.endDate | date:'d MMMM yyyy' }}</p>
                        <p *ngIf="trip.cancelledReason"><strong>Cancelled Reason:</strong> {{ trip.cancelledReason }}</p>
                        
                    </div>
                    

                </div>
            </div>
        </ng-container>
    </div>
</div>