<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Ticker</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Requirements</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">Origin</th>
            <th scope="col">Destiny</th>
            <th scope="col">Cancelled reason</th>
        </tr>
    </thead>

    <tbody>
        <ng-container *ngFor="let trip of trips; let i = index">
            <tr *ngIf="!isCancelled(trip)" (click)="goToTrip(trip.id)" style="cursor: pointer;">
                <td scope="row">{{ i + 1 }}</td>
                <td>{{ trip.ticker }}</td>
                <td>{{ trip.title }}</td>
                <td>{{ trip.description }}</td>
                <td>{{ trip.price }}</td>
                <td>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let requirement of trip.requirements">
                            <p class="card-text">{{ requirement }}</p>
                        </li>
                    </ul>
                </td>
                <td>{{ trip.startDate }}</td>
                <td>{{ trip.endDate }}</td>
                <td>{{ trip.origin }}</td>
                <td>{{ trip.destinity }}</td>
                <td>{{ trip.cancelledReason }}</td>
                <td>
                    <ngb-carousel>
                        <ng-template ngbSlide *ngFor="let picture of trip.pictures; let j = index">
                            <img class="d-block w-100" [src]="picture" alt="Slide {{ j + 1 }}">
                        </ng-template>
                    </ngb-carousel>
                </td>
            </tr>
        </ng-container>
    </tbody>
</table>
