<form [formGroup]="tripForm"(ngSubmit)= "onSubmit()">
    <fieldset>
        <legend>Create new Trip</legend>
        <div class="form-group has danger">
            <label for="title" class="form-control-label">Title:</label>
            <input id="title" type="text" formControlName="title" class="form-control">
        </div>
        <div class="form-group has danger">
            <label for="description" class="form-control-label">Description:</label>
            <input id="description" type="textarea" formControlName="description" class="form-control">
        </div>
        <div class="form-row d-flex flex-column flex-md-row">
            <div class="form-group col-12 col-md-4 mb-2">
              <label for="price" class="form-control-label">Price:</label>
              <input id="price" type="number" min="0" formControlName="price" class="form-control">
            </div>
      
            <div class="form-group col-12 col-md-4 mb-2">
              <label for="startDate" class="form-control-label">Start Date:</label>
              <input id="startDate" type="date" formControlName="startDate" class="form-control">
            </div>
      
            <div class="form-group col-12 col-md-4 mb-2">
              <label for="endDate" class="form-control-label">End Date:</label>
              <input id="endDate" type="date" formControlName="endDate" class="form-control">
            </div>
          </div>
        <div class="form-group">
            <label>Requirements:</label>
            <div formArrayName="requirements">
                <div *ngFor="let req of requirements.controls; let i = index" class="d-flex align-items-center mb-2">
                    <input [formControlName]="i" type="text" class="form-control">
                    <button type="button" class="btn btn-danger ms-2" (click)="removeRequirement(i)" *ngIf="requirements.length > 1">-</button>
                    <button type="button" class="btn btn-success ms-2" (click)="addRequirement()" *ngIf="i === requirements.length - 1">+</button>
                </div>
            </div>
        </div>

        <!-- Contenedor para organizar input y carrusel en la misma línea -->
        <div class="custom-file-upload">
            <!-- Input de tipo file, oculto visualmente -->
            <input type="file" id="pictures" (change)="onFileSelected($event)" class="file-input" multiple>
          
            <!-- Botón que simula un clic en el input -->
            <button type="button" class="btn btn-primary" (click)="triggerFileInput()">Upload Pictures</button>
          </div>

    <!-- Carrusel (Derecha) -->
            <div *ngIf="pictures.controls.length > 0" style="max-width: 300px;">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let picture of pictures.controls; let j = index">
                    <div class="position-relative">
                        <img class="d-block w-100" [src]="picture.value" alt="Slide {{ j + 1 }}" style="height: 200px; object-fit: cover;">
                        <!-- Botón para eliminar la imagen con z-index alto -->
                        <button type="button" class="btn btn-danger btn-sm position-absolute top-0 end-0 m-1"
                                style="z-index: 10;" (click)="removePicture(j)">❌</button>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>


        <br>
        <button type="submit" class="btn btn-primary mb-3">Create</button>
    </fieldset>
</form>
