<h1 class="bg-blue">Trip Display</h1>
<div class="card mx-auto mt-4" style="width: 18rem;">
    <div class="card-body text-end">
        <!-- <button [hidden]=!isCancelled() (click)="cancelTrip()">
            <fa-icon [icon]="trash"></fa-icon>
        </button> -->
    </div>
    
    <div class="card-body mb-2">
        <h5 class="card-title text-center">{{ trip.title }}</h5>
        <ngb-carousel>
            <ng-template ngbSlide *ngFor="let picture of trip.pictures; let j = index">
                <img class="d-block w-100" [src]="picture" alt="Slide {{ j + 1 }}">
            </ng-template>
        </ngb-carousel>
        <img *ngIf="!trip.pictures?.length" class="d-block w-100" src="/assets/images/no-image.png" alt="No image available" style="height: 230px; object-fit: cover;">

        <p class="card-text ml-2">{{ trip.description }}</p>
        <p class="card-text ml-2">{{ trip.startDate | date:'d MMMM yyyy' }} - {{ trip.endDate | date:'d MMMM yyyy'}}</p>
    </div>

    <div class="card-body">
        <p class="card-text text-right mr-1 mb-1" [ngClass]="isSpecial ? 'special': ''">
            <strong>{{'Price: '}}</strong>
            <span [ngStyle]="getCurrentStyles()">&nbsp;{{trip.price}}&nbsp;</span>{{' EUR'}}
            <span *ngIf=" isSpecial">Deal!</span>
        </p>
    </div>
    <div class="card-body" *ngIf="isCancelled(); else noCancelled">
        <span class="card-text text-danger ml-2 nb-1">This trip has been cancelled</span>
    </div>
    <ng-template #noCancelled>
        <div *ngIf="isCancelable(); else notCancelable">
            <p class="card-body text-muted">Write a cancel reason to cancel the trip</p>
        </div>
    </ng-template>
    <ng-template #notCancelable>
        <div class="card-text text-danger ml-2 nb-1">This trip cannot be cancelled.</div>
    </ng-template>

    <div class="card-body">
        <label for="price" class="form-label">{{'New Price: '}}</label>
        <input type="text" class="form-control" [(ngModel)]="trip.price" (keyup)="onPriceChange()">
        <label for="price" class="form-label">{{'Cancel Reason: '}}</label>
        <input *ngIf="isCancelable(); else noCancelable" type="text" class="form-control"
            [(ngModel)]="trip.cancelledReason">
        <ng-template #noCancelable>
            <p class="card-body text-muted">To be cancelled it should be one week in advance of its starting date</p>
        </ng-template>
    </div>
</div>