<div [ngClass]="{ 'dark-mode': isDarkMode }">
<form *ngIf="!(payed && isEditMode)" [formGroup]="sponsorshipForm" (ngSubmit)="onSubmit()" class="form-container">
      <h2>
        <ng-container *ngIf="isEditMode" i18n>Edit Sponsorship</ng-container>
        <ng-container *ngIf="!isEditMode" i18n>Create Sponsorship</ng-container>
      </h2>
      <div class="form-group">
      <label i18n for="sponsorId">Sponsor email</label>
      <input maxlength="254" type="text" id="sponsorId" formControlName="sponsorId" required readonly />
    </div>
  
    <div class="form-group">
      <label i18n for="tripId">Ticket-trip</label>
      <input type="text" id="tripId" formControlName="tripId" required readonly />
    </div>
  
    <div class="form-group">
        <label i18n for="amount">Rate (€)</label>
        <div *ngIf="sponsorshipForm.get('rate')?.value === 0 && currentActor?.role === 'SPONSOR'; else showRate">
          <span i18n>To define by the administrator</span>
        </div>     

        <ng-template #showRate>
          <div *ngIf="currentActor?.role === 'ADMINISTRATOR' && !sponsorshipForm.get('payed')?.value; else showInput">
            <input max="1000000" min="0" type="number" id="amount" formControlName="rate"/>
          </div>   
          <ng-template #showInput>
            <input max="1000000" min="0" type="number" id="amount" formControlName="rate" readonly style="pointer-events: none; opacity: 0.5;" />
          </ng-template>
        </ng-template>
      </div>
      

    <div class="form-group" hidden>
        <label i18n for="payed">Payed</label>
        <input type="text" id="payed" formControlName="payed" required readonly />
    </div>
  
    <div class="form-group">
        <label i18n for="link">Additional information (link)</label>
        <input maxlength="150" type="text" id="link" formControlName="link" required />
        <div i18n *ngIf="sponsorshipForm.get('link')?.hasError('required')" class="text-danger">
          This field is required 
        </div>
      </div>
    
      <div class="form-group">
        <label i18n for="url">Banner (Image or Video)</label>
        <input type="file" (change)="onFileSelected($event)" hidden id="url" />
        <button i18n type="button" *ngIf= "currentActor?.role === 'SPONSOR'" (click)="triggerFileInput()">Select file</button>
        <button i18n type="button" *ngIf= "currentActor?.role === 'SPONSOR'"(click)="removeFile()">Remove file</button>
        <div i18n *ngIf="sponsorshipForm.get('url')?.hasError('required')" class="text-danger">
            This field is required 
        </div>
        <div *ngIf="message!==''" class="text-danger">
          {{message}} 
      </div>
      </div>

  <!-- Previsualización del archivo (Imagen o Video) -->
  <div *ngIf="sponsorshipForm.get('url')?.value" class="preview-container">
    <div *ngIf="sponsorshipForm.get('url')?.value.startsWith('data:image')">
      <img [src]="sponsorshipForm.get('url')?.value" alt="Vista previa" width="300" />
    </div>
    <div *ngIf="sponsorshipForm.get('url')?.value.startsWith('data:video')">
      <video [src]="sponsorshipForm.get('url')?.value" controls width="300"></video>
    </div>
  </div>
  
    <br>
    <button i18n type="submit">Save Sponsorship</button>
  
  </form>
</div>